body{
    margin-top: 1%;
}

#body-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#calculator-area{
    height: 28em;
    width: 18em;
    /* border: 2px solid black; */
}

#answer-area{
    width: inherit;
    border-bottom: 1px solid lightgray;
    height: 25%;
    background-color: rgb(217, 221, 211);
    display: flex;
    justify-content: flex-end;
}

#button-area{
    display: flex;
    flex-wrap: wrap;
}

button{
    height: 2.8em;
    width: 25%;
    background-color: rgb(253, 253, 220);
    border: 0.5px solid lightgray;
    font-weight: bold;
    font-size: 1.5rem;
}

.operator-btn{
    background-color: maroon
}

.zero-btn{
    width: 50%;
}

#result{
    font-size: 2rem;
}